
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    /*background-color: rgba(0, 234, 255, 0.04);*/
    color: #003138;
}
div.card>a>div.card-header{
    color: #003138;;
}

.banner{
    background-image: url("../image/banner.jpg");
    height: 150px;
    background-attachment: fixed;
    background-size: cover;
}
i{
    margin-right: 10px;
}
.card img{
    max-height: 200px;
    object-fit: contain;
}
@media screen AND (min-width: 768px){
    .banner{

        height: 300px;

    }
}