{% extends 'base.html.twig' %}

{% block title %}Création d'article{% endblock %}


{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-10 col-lg-8 mx-auto">

            <h1 class="h2">Créer un article</h1>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

